.wrap {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 570px;
}

.link {
  text-decoration: none;
  color: #000;
}

.sidebar {
  height: 160px;
  border: 4px solid #cfcfcf;
  box-shadow: 0 0 14px 0 rgba(86, 89, 92, 0.767);
}