.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.text {
  cursor: pointer;
}

.button {
  height: 40px;
  padding: 0;
  border: none;
  font: inherit;
  background: none;
  cursor: pointer;
}

.icon {
  color: black;
}