.section {
  margin: auto;
  height: 644px;
  align-items: center;
}

.todos {
  height: 100%;
  width: 100%;
}

.head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto 41px auto;
  height: 60px;
  width: 636px;
}

.head__title {
  font-size: 28px;
  font-weight: bold;
}