.menu {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  font-weight: bold;
}

.menu__is-done,
.menu__isnt-done,
.menu__all {
  padding: 4px 6px;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.menu__is-done,
.menu__isnt-done {
  margin-right: 12px;
}

.menu__is-done_span,
.menu__isnt-done_span {
  color:#356EFF;
}

.menu__is-done:focus,
.menu__isnt-done:focus,
.menu__all:focus {
  color: #FFFFFF;
  background: #356EFF;
  border-radius: 23px;
}

.menu__is-done:focus .menu__is-done_span,
.menu__isnt-done:focus .menu__isnt-done_span {
  color: #FFFFFF;
}