.preloader {
  height: 100px;
  width: 100px;
  background: url(preloader.gif);
  background-size: contain;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 335px;
  width: 450px;
  font-family: 'Comic Sans MS';
  border: 4px solid #cfcfcf;
  box-shadow: 0 0 14px 0 rgba(86, 89, 92, 0.767);
}

.user {
  display: flex;
}

.avatar {
  padding: 15px 15px;
  height: 150px;
  width: 150px;
}

.info {
  margin: auto;
}

.subtitle {
  padding-left: 15px;
}

.repo {
  min-height: 335px;
  width: 450px;
  display: block;
}

.link {
  color: inherit;
  text-decoration: inherit;
  color: #337ab7;
}

.error {
  width: 450px;
  text-align: center;
}